/* 
====================================================
mainPage CSS
====================================================
*/

/* 반응형 작업을 위한 PC용 SECTION 숨김처리 */
@media screen and (max-width: 980px) {
    header, .introSection, .aboutSection, .skillsSection, .careerSection, .moreSection {
        display: none;
    }
}

/* Section #01 Intro */
.introSection {
    background-color: rgb(244, 244, 250);
    height: 85vh;
}

.introSection .titleWrap {
    padding: 200px 0 50px 0;
    display: flex;
    flex-direction: initial;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.introSection .titleWrap p {
    /* font-family: "esamanruBold" !important; */
}

.introSection .titleWrap img.profileImg {
    background-color: #7e69fe50;
    border-radius: 50%;
    width: 250px;
    margin-right: 25px;
}

.introSection .titleWrap .textBox {
    width: 420px;
    height: 90px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
    color: #7e69fe;
    margin-left: 25px;
    
}

/*
    스크롤 다운 효과
*/
.scrollDown_new{
    /* position: absolute; */
    /* bottom: 1.8rem; */
    /* left: 50%; */
    /* transform: translate3d(-50%, 0, 0); */
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 0 0;

}
.scrollDown_new a {}

.scrollDown_new a img {
    margin: 0 auto;
    width: 5rem;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
}

@-webkit-keyframes sdb {
    0% {
    -webkit-transform: translate(0, 0);
    }
    20% {
    -webkit-transform: translate(0, 10px);
    }
    40% {
    -webkit-transform: translate(0, 0);
    }
    }
    @keyframes sdb {
    0% {
    transform: translate(0, 0);
    }
    20% {
    transform: translate(0, 10px);
    }
    40% {
    transform: translate(0, 0);
    }
}

/* Section 타이틀 텍스트 */
.section_common {
    padding: 100px 0;
}

.section_common .titleTextBox {
    margin: 0 auto;
    text-align: center;
}

.section_common .titleTextBox .titleText {
    font-size: 2rem;
    font-weight: 600;
    color: #7e69fe;
    padding-bottom: 50px;
}

/* Section #02 About */
.aboutSection {
    padding: 100px 0;
}

.aboutSection .titleTextBox {
    margin: 0 auto;
    text-align: center;
}

.aboutSection .titleTextBox .titleText {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7e69fe;
    padding-bottom: 50px;
}

.aboutSection .profileContainer {
    display: flex;
    flex-direction: initial;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.aboutSection .profileContainer .imgSlideBox {
    width: 450px;
    margin-right: 25px;
    /* margin: 0 auto; */
}

.aboutSection .profileContainer .imgSlideBox .imgSlide {
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
}
.aboutSection .profileContainer .imgSlideBox .imgSlide .imgList {
    position: relative;
    display: flex;
    height: 450px;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .imgList img {
    width: 450px;
    height: 450px;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next,
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next:active,
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next:focus {
    position: absolute;
    padding: 8px 10px;
    background-color: #7e69fe;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 100%;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-prev,
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-prev:active,
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-prev:focus {
    position: absolute;
    padding: 8px 10px;
    background-color: #7e69fe;
    color: #ffffff;
    border: none;
    font-size: 20px;
    border-radius: 100%;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next:disabled,
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-prev:disabled {
    background-color: #999999;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next:hover,
.aboutSection .profileContainer .imgSlideBox .imgSlide.btn-prev:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #7e69fe;
    transition: 0.7s ease-out;
}

.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-prev {
    left: 18px;
    top: 50%;
}
.aboutSection .profileContainer .imgSlideBox .imgSlide .btn-next {
    right: 18px;
    top: 50%;
}

.aboutSection .profileContainer .infoBox {
    margin-left: 25px;
}

.aboutSection .profileContainer .infoBox .textArea {}

.aboutSection .profileContainer .infoBox .textArea .textTable {}

.aboutSection .profileContainer .infoBox .textArea .textTable tr {
    /* height: 40px; */
    font-size: 1.5rem;
    line-height: 2;
}

.aboutSection .profileContainer .infoBox .textArea .textTable th {
    width: 150px;
    font-weight: 600;
    color: #7e69fe;
}

.aboutSection .profileContainer .btnBox {
    margin-top: 30px;
}

.aboutSection .profileContainer .btnBox .modalBtn {
    font-size: 1.3rem;
    width: 150px;
    background: #ffffff;
    color: #7E69FE;
    border: 1px solid #7E69FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-right: 15px;
}

.aboutSection .profileContainer .btnBox .modalBtn:hover {
    background-color: #7E69FE;
    color: #ffffff;
}

/* 취미, 성격, 외국어 모달창 CSS */
.modal .modal-content .modalTitle {
    border-bottom: none !important;
    padding: 30px 20px 10px 20px;
}

.modal .modal-content .modalTitle .titleText {
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    line-height: 31.5px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #7e69fe;
}

.modal .modal-content .modalInfo {
    text-align: center;
}

.modal .modal-content .modalInfo>img {
    width: 80%;
    border-radius: 15px;
}

.modal .modal-content .modalInfo .text {
    font-size: 1rem;
    line-height: 1.3;
    padding-top: 30px;
}

.modal .modal-footer.btnBox {
    margin-top: 20px;
    border-top: none !important;
    padding-bottom: 30px;
}

.modal .modal-footer.btnBox .closeBtn {
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background-color: #7E69FE;
    font-size: 16px;
    line-height: 19px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Section #03 Skills */
.skillsSection {
    background-color: rgb(244, 244, 250);
}

/* tab 관련 버튼 */
/* 버튼 */
.skillsSection .skillTabRow_01 .btn_container {}
.skillsSection .skillTabRow_01 .btn_container section {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 20px auto 50px auto;
    position: relative;
}

.skillsSection .skillTabRow_01 .btn_container section .btnBox{
    /* background-color: #ffffff; */
    cursor: pointer;
    /* width: 15%; */
}

/* .skillsSection .skillTabRow_01 .btn_container section .btnBox:hover {
    box-shadow: 0.4rem 0.4rem 1.2rem 0 rgba(5, 65, 184, 0.12);
} */


.skillsSection .skillTabRow_01 .btn_container section .btnBox .textItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsSection .skillTabRow_01 .btn_container section .btnBox .textItem p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
    color: #1f1f1f;
    margin-bottom: 0;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #7e69fe;
    width: 200px;
    text-align: center;
    padding: 10px 0;
}

.skillsSection .skillTabRow_01 .btn_container section .btnBox.active .textItem p  {
    color: #ffffff;
    background-color: #7e69fe;
}

.skillsSection .skillTabRow_02 .detail_container {
    background-color: #ffffff;
    padding: 50px;
    width: 67%;
    height: 45vh;
    margin: 0 auto;
    border: 1px solid #7e69fe;
    border-radius: 15px;
    display: none;
}

.skillsSection .skillTabRow_02 .detail_container.active {
    display: block;
}

.skillsSection .skillTabRow_02 .detail_container .graphBar_container {}

.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph {
    height: 40px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .category {
    position: absolute;
    color: #ffffff;
    margin: 10px;
}

.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent {
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    background-color: #7e69fe;
    box-sizing: border-box;
    color: #ffffff;
}

/* 그래프 애니메이션 효과 */
/* 90% - ver 1 */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack901 {
    animation: stack901 2s 1;
}

/* 90% - ver 2 */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack902 {
    animation: stack902 3s 1;
}

/* 80% */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack80 {
    animation: stack80 2s 1;
}

/* 70% */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack70 {
    animation: stack70 3s 1;
}

/* 60% */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack60 {
    animation: stack60 2s 1;
}

/* 55% */
.skillsSection .skillTabRow_02 .detail_container .graphBar_container .graph .percent.stack55 {
    animation: stack55 2s 1;
}

@keyframes stack901 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 90%;
    }
}

@keyframes stack902 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 90%;
    }
}

@keyframes stack80 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 80%;
    }
}

@keyframes stack70 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 70%;
    }
}

@keyframes stack60 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 60%;
    }
}

@keyframes stack55 {
    0% {
        width: 0;
        color: rbga(255, 255, 255, 0);
    }

    30% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 55%;
    }
}


.skillsSection .skillTabRow_02 .detail_container .more_container {
    display: flex;
    flex-direction: initial;
    justify-content: flex-start;
    margin-top: 30px;
}

.skillsSection .skillTabRow_02 .detail_container .more_container .itemBox {
    margin-right: 50px;
    display: flex;
    width: 50%;
}

.skillsSection .skillTabRow_02 .detail_container .more_container .itemBox>img {
    /* width: 50px; */
    height: 50px;
    margin-right: 10px;
}

.skillsSection .skillTabRow_02 .detail_container .more_container .itemBox .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 1rem;
}

/* Section #04 Career */
.careerSection {}

.careerSection .accordionBox {
    width: 60%;
    margin: 0 auto;
}

.careerSection .accordionBox div {
    /* 50px */
    /* padding-top: 3.4rem; */
    max-width: 80rem; /* 1200px */
    margin: 0 auto;
}
.careerSection .accordionBox div .inner_box {}
.careerSection .accordionBox div ul.accordion{
    list-style: none;
    padding: 0;
}

.careerSection .accordionBox .accordion li {}

/* Q */
.careerSection .accordionBox .accordion li a {
    position: relative;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #666666 !important;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 1.5rem 1.4rem 1.5rem 3.4rem;
    /* border-top: 0.5px solid #1f1f1f; */
    /* border-bottom: 0.5px solid #1f1f1f; */
    /* background-color: #7e69fe; */
    cursor: pointer;
    border: solid 1px #e3e1ee;
    cursor: pointer;
}

.careerSection .accordionBox .accordion li:hover a,
.careerSection .accordionBox .accordion li a.active {
    border: solid 1px #cec8f1;
    background-color: #f9f8ff;
    color: #7e69fe !important;
}

.careerSection .accordionBox .accordion li a span.date {
    margin-right: 20px;
}

.careerSection .accordionBox .accordion li a span.companyName {
    font-weight: 600;
    margin-right: 10px;
}

/* A */
.careerSection .accordionBox .accordion li .textBox {
    display: none;
    /* border: 1px solid #E9E9E9;
    background-color: #ffffff; */
    padding: 0.6rem 3.4rem 1.6rem 3.4rem;
}
.careerSection .accordionBox .accordion li .textBox p {
    font-size: 1rem; /* 14px */
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #1f1f1f;
    position: relative;
}

accordion li .textBox p #linkText {
	color: rgb(73, 119, 245);
}

accordion li .textBox p #linkText:hover {
	background-color: #7e69fe;
	color: #ffffff;
}

.careerSection .accordionBox .accordion li .textBox p span.title {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: -1.2rem;
} 

.careerSection .accordionBox .accordion li .textBox p .accordion_text_sub {
    display: block;
    font-size: 0.8rem; /* 12px */
    color: #B4B4B4;
    padding-top: 0.667rem /* 10px */
}

.careerSection .accordionBox .accordion li a::after, .careerSection .accordionBox .accordion li a.active::after {
    content: " ";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 0.8rem; /* 12px */
    height: 0.8rem; /* 12px */
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.careerSection .accordionBox .accordion li a::after {
    /* background-image: url('${path}/images/common/icon_toggleDown_white.png'); */
}

.careerSection .accordionBox .accordion li a.active::after {
    /* background-image: url('${path}/images/common/icon_toggleUp_white.png'); */
}

/* **** */
@media screen and (max-width: 980px) {

    .careerSection {
        padding: 70px 0 !important;
    }

    .careerSection .accordionBox div {
        padding-top: 50px;
        max-width: 520px;
    }

    /* Q */
    .careerSection .accordionBox .accordion li a {
        font-size: 16px;
        padding: 14px 20px 14px 50px;
    }
    .careerSection .accordionBox .accordion li a span.title {
        font-size: 20px;
        top: 12px;
        left: 24px;
    }

    /* A */
    .careerSection .accordionBox .accordion li .textBox {
        padding: 24px 50px;
    }
    .careerSection .accordionBox .accordion li .textBox p {
        font-size: 14px;
    }
    .careerSection .accordionBox .accordion li .textBox p span.title {
        font-size: 15px;
        left: -18px;
    }

    .careerSection .accordionBox .accordion li .textBox p .accordion_text_sub {
        font-size: 12px;
        padding-top: 10px;
    }

    .careerSection .accordionBox .accordion li a::after, .careerSection .accordionBox .accordion li a.active::after {
        width: 12px;
        height: 12px;
        right: 24px;
    }
}



@media all and (max-width: 767px) {

    .careerSection {
        padding: 50px 0 !important;
    }
    .careerSection {
        width: 90%;
    }
    /* ****** */
    .careerSection .accordionBox div {
        padding-top: 20px;
        max-width: 100%;
    }

    /* Q */
    .careerSection .accordionBox .accordion li a {
        font-size: 14px;
        padding: 14px 10px 14px 30px;
    }
    .careerSection .accordionBox .accordion li a span.title {
        font-size: 16px;
        top: 14px;
        left: 10px;
    }

    /* A */
    .careerSection .accordionBox .accordion li .textBox {
        padding: 20px 10px 20px 30px;
    }
    .careerSection .accordionBox .accordion li .textBox p {
        font-size: 13px;
    }
    .careerSection .accordionBox .accordion li .textBox p span.title {
        font-size: 14px;
        left: -16px;
    }

    .careerSection .accordionBox .accordion li .textBox p .accordion_text_sub {
        font-size: 12px;
        padding-top: 10px;
    }

    .careerSection .accordionBox .accordion li a::after, .careerSection .accordionBox .accordion li a.active::after {
        width: 10px;
        height: 10px;
        right: 10px;
    }
}

/* Project Banner */
.projectBanner {
    padding: 50px 0;
    background-color: #7e69fe;
}

.projectBanner .bannerBox {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: initial;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-between;
}

.projectBanner .bannerBox .text {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFE655;
}

.projectBanner .bannerBox .clickBtn {
    background-color: #7e69fe;
    color: #FFE655;
    border: 5px solid #FFE655;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 30px;
}

.projectBanner .bannerBox .clickBtn:hover {
    background-color: #FFE655;
    color: #7e69fe;
}
